#footerOverride{

}

.liOverride{
	font-size: 0.8em;
}
.overrideList{
	font-size: 15px;
}

.downloadColor{
	background-color: #4966FE !important
}

.headerStyle{
	padding: 12em 1em 25em 1em !important
}

section{
	background-color: white;
	margin: 0px 0px 20px 0px;
	border-radius: 15px;
}

.footerSectionOverride{
	background-color: transparent;
}

.pagesOverride{
	background-color: white;
}

.iFrameHeight{
	height: 500px;
	width: 100%;
}

.imageOverrideContainer{
	float: right;
	right: 0px;
}

.imageOverride{
	width: 200px;

}

#divPOverride{
	width: 80%;
}

.imgDesc{
	text-align: center;
	font-size: 0.6em;
	position: inherit;
}