.cardSide{
	width: 600px;
	height: 520px;
	background-color: white
	-webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.10);
	box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.10);
	border-radius: 15px;
	margin: auto;
}

.banner.style1 .image{
	/*width: 55% !important;*/
}

.overrideOrca {
	padding: 0px !important;
	margin: 0px !important;
}

#sideCardTitle{
	font-size: 25px;
	font-weight: 800;
	float: left;
	position: relative;
	padding: 30px 0px 0px 15px;
	width: 95%;
	margin: 0px;
	line-height: 100%;
}

#sideCardDesc{
	font-size: 18px;
	font-weight: 500;
	float: left;
	position: relative;
	padding: 20px 0px 0px 15px;
	width: 95%;
	margin: 0px;
	line-height: 100%;
}

#sideCardImage{
	background-image: url('../../images/customIcons/sideCardImg1.png');
	background-size: contain;
	position: relative;
	background-repeat: no-repeat;
	text-align:center;
	width: 100%;
	vertical-align: top;
	display:block;
	overflow: auto;
	margin: auto;
	height: 50%;
	top: 40px;
}